<h1>物件一覧</h1>

<% if user_signed_in? && current_user.admin? %>
  <p><%= link_to '物件を登録する', new_property_path%></p>
  <%= button_to 'logout', destroy_user_session_path, method: :delete %>
<% end %>

<table>
  <thead>
    <tr>
      <th>物件名</th>
      <th>住所</th>
      <th>価格</th>
      <th>物件画像</th>
    </tr>
  </thead>
  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= link_to property.name, property_path(property) %></td>
        <td><%= property.address %></td>
        <td><%= number_to_currency(property.price, unit: "¥", precision: 0) %></td>
        <td>
          <% if property.images.attached? %>
            <%= image_tag property.images.first.variant(:thumb) %>
          <% else %>
            <p>画像データはありません</p>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
