<h1><%= @property.name %></h1>

<p><strong>所在地:</strong> <%= @property.address %></p>
<p><strong>価格:</strong> <%= number_to_currency(@property.price, unit: "¥", precision: 0) %></p>
<p>
  <strong>最寄駅:</strong> <%= @property.nearest_station %>駅 徒歩<%= @property.minutes_by_walk %>分
</p>
<p><strong>詳細説明:</strong> <%= simple_format(@property.description) %></p>

<h2>物件画像</h2>
<% if @property.images.attached? %>
  <div class="property-images">
    <% @property.images.each do |image| %>
      <%= image_tag image.variant(:detail) %>
    <% end %>
  </div>
<% else %>
  <p>画像データはありません</p>
<% end %>

<p><%= link_to '物件一覧に戻る', properties_path %></p>

<P>
  <% if user_signed_in? && current_user.admin? %>
  <%= link_to '編集', edit_property_path(@property) %>
  <%= link_to '削除', property_path(@property), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' } %>
  <% end %>

</P>
