<h1><%= @property.name %></h1>

<p><strong>所在地:</strong> <%= @property.address %></p>
<p><strong>価格:</strong> <%= number_to_currency(@property.price, unit: "¥", precision: 0) %></p>
<p>
  <strong>最寄駅:</strong> <%= @property.nearest_station %>駅 徒歩<%= @property.minutes_by_walk %>分
</p>
<p><strong>詳細説明:</strong> <%= simple_format(@property.description) %></p>

<h2>物件画像</h2>
<% if @property.images.attached? %>
  <div>
    <% @property.images.each do |image| %>
      <%= image_tag image.variant(resize_to_limit: [800, 600]) %>
    <% end %>
  </div>
<% else %>
  <p>画像データはありません</p>
<% end %>

<p><%= link_to '物件一覧に戻る', properties_path %></p>
